# Node.js
node_modules/

# Jest
coverage/

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
/dist/
/out/

# Testing library artifacts
/__snapshots__/
*.snap

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm package manager cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Yarn
yarn-error.log
.pnp
.pnp.js

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
